%tr
  %td
    %span.badge= movie.id
  %td= link_to movie.title, movie
  %td= movie.text
  %td= movie.category.name
  %td
    - (1..movie.average_rating).each do
      %span.glyphicon.glyphicon-star{ "aria-hidden" => "true" }
  %td
    %label
      Rate
    = select_tag "movie_rating_#{movie.id}", options_for_select((1..5).map{ |rate| [rate, rate] }),
      class: "movie_rating form-control", :"data-movie-id" => "#{movie.id}" if policy(movie).rate?
  %td= link_to "Edit", edit_movie_path(movie),
    class: "edit" if policy(movie).edit?
  %td= link_to "Delete", movie_path(movie),
    method: :delete,
    data: { confirm: "Are you sure you want to delete this movie?"},
    class: "delete" if policy(movie).destroy?