!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Moviedb
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %p.notice= notice
    %p.alert= alert
    %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          = link_to "Riskmethods Moviedb", root_path, class: "navbar-brand"
        #collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{:class => "#{"active" if current_page?("/")}"}
              = link_to "Home", root_path
          - unless user_signed_in?
            .navbar-right
              %ul.nav.navbar-nav
                %li{:class => "#{"active" if current_page?(new_user_registration_path)}"}
                  = link_to "Sign up", new_user_registration_path
                %li{:class => "#{"active" if current_page?(user_session_path)}"}
                  = link_to "Sign in", new_user_session_path
          - if user_signed_in?
            .navbar-right
              %p.navbar-text
                = current_user.email
              %ul.nav.navbar-nav
                %li
                  = link_to "Sign out", destroy_user_session_path, |
                    method: :delete                                |
    = yield
